<div class="fndtn-templates add-ons">
    <div class="row">

        <div class="three mobile-one columns">
            <a href="page-templates/banded.html">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 65px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Banded
                <span><a href="#" data-reveal-id="bandedModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/blog.html">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nine columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>

                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Blog
                <span><a href="#" data-reveal-id="blogModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/feed.html">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 120px;"></span>
                        </div>

                        <div class="eight columns">
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="two columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                                <div class="ten columns">
                                    <span class="display" style="width: 100%; height: 15px;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 40px;"></span>
                            <span class="display" style="width: 100%; height: 60px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Feed
                <span><a href="#" data-reveal-id="feedModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/grid.html">
                <div class="template">
                    <div class="row">
                        <div class="display" style="width: 100%; height: 12px;"></div>
                    </div>
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="two columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 30px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 10px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Grid
                <span><a href="#" data-reveal-id="gridModal">See HTML</a></span>
            </p>
        </div>

    </div>

    <div class="row">

        <div class="three mobile-one columns">
            <a href="page-templates/homepage-1.html">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                        <div class="five columns">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 75px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                        <div class="four columns">
                            <span class="display" style="width: 100%; height: 70px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve column">
                            <span class="display" style="width: 100%; height: 14px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Orbit Home
                <span><a href="#" data-reveal-id="orbitHomeModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/homepage-2.html">
                <div class="template">
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 80px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 50px;"></span>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 22px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                                <div class="four columns">
                                    <span class="display" style="width: 100%; height: 23px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 23px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 4px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Banner Home
                <span><a href="#" data-reveal-id="bannerHomeModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/sidebar.html">
                <div class="template">
                    <div class="row">
                        <div class="three columns">
                            <span class="display" style="width: 100%; height: 13px;"></span>
                        </div>
                        <div class="six columns">
                            <span class="display" style="width: 100%; height: 13px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <div class="row">
                                <div class="twelve column">
                                    <span class="display" style="width: 100%; height: 80px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve column">
                                    <span class="display" style="width: 100%; height: 40px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="eight columns">
                            <span class="display" style="width: 100%; height: 150px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Sidebar
                <span><a href="#" data-reveal-id="sidebarModal">See HTML</a></span>
            </p>
        </div>

        <div class="three mobile-one columns">
            <a href="page-templates/contact.html">
                <div class="template">
                    <div class="row">
                        <div class="display" style="width: 100%; height: 12px;"></div>
                    </div>
                    <div class="row">
                        <div class="eight columns">
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 25px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 100px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="five columns">
                                    <span class="display" style="width: 100%; height: 10px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 50px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <span class="display" style="width: 100%; height: 20px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <span class="display" style="width: 100%; height: 20px;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <p class="get-code">
                Contact
                <span><a data-reveal-id="contactModal" href="#">See HTML</a></span>
            </p>
        </div>

    </div>
</div>
